<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

</body>
    <h1>Welcome to PyonCal<span>.</span></h1>
    <div class="container">
        <img src="/images/calendar-blue.svg">
        <div class="description">
            <p>Connect your Google account to quickly import and organize your work schedule with just a screenshot. Let AI format the schedule and add events directly to your Google Calendar. ⚡️</p>
        </div>

        <a href="/oauth2/authorization/google">
         <button type="submit">Connect with Google</button>
        </a>

    </div>
</html>