<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Success</title>
    <link rel="stylesheet" href="/css/success.css">
</head>
<body>
    <h1>PyonCal<span>.</span></h1>
    <div class="container">
        <h2>Success! 👍</h2>
        <p>
            <span th:text="${eventCount}"></span> events added to your Google Calendar automatically.
        </p>
        <a th:href="dashboard" >
        <button>Back to dashboard</button>
        </a>
    </div>
</body>
</html>